<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div>
    <p>Your account has been successfully created on <a href="<%- frontend_url %>"><%- website_name %></a>. You can login using the following credentials</p>
    <p>Email: <%- user_email %></p>
    <p>Password: <%- user_password %></p>
  </div>
</body>
</html>